name: Deploy to ECS
on:
  workflow_dispatch:  # Manual trigger

env:
  AWS_REGION: us-east-1
  CLUSTER_NAME: CodeChallengeCluster
  SERVICE_NAME: CodeChallengeCluster-service
  ECR_REPOSITORY: flash-container
  IMAGE_TAG: ${{ github.sha }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.ACCESSKEY }}
          aws-secret-access-key: ${{ secrets.SECRETKEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Force ECS deployment
        run: |
          aws ecs update-service \
            --cluster $CLUSTER_NAME \
            --service $SERVICE_NAME \
            --force-new-deployment \
            --region $AWS_REGION